USE [Social_Presence_New]
GO
/****** Object:  Table [dbo].[facebook_page]    Script Date: 02-Oct-16 9:13:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[facebook_page](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[municipality_id] [int] NOT NULL,
	[url] [nvarchar](max) NOT NULL,
	[name] [nvarchar](max) NULL,
	[category] [nvarchar](max) NULL,
	[creation_date] [date] NULL,
	[short_name] [nvarchar](100) NULL,
	[has_phone] [bit] NOT NULL,
	[has_email] [bit] NOT NULL,
	[has_about_page] [bit] NOT NULL,
	[defined_location] [nvarchar](100) NULL,
	[website] [nvarchar](max) NULL,
	[milestones_count] [int] NOT NULL,
	[liked_pages] [int] NOT NULL,
	[approved] [bit] NOT NULL,
	[contributor_email] [nvarchar](100) NULL,
	[facebook_id] [varchar](100) NULL,
	[type] [smallint] NULL,
 CONSTRAINT [PK_facebook_page] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET IDENTITY_INSERT [dbo].[facebook_page] ON 

INSERT [dbo].[facebook_page] ([id], [municipality_id], [url], [name], [category], [creation_date], [short_name], [has_phone], [has_email], [has_about_page], [defined_location], [website], [milestones_count], [liked_pages], [approved], [contributor_email], [facebook_id], [type]) VALUES (2, 269, N'https://www.facebook.com/profile.php?id=100007403522604', N'Община Алфатар', N'Community', CAST(N'2016-05-17' AS Date), NULL, 0, 0, 1, NULL, N'http://alfatar.egov.bg', 0, 0, 1, N'evelina.nozhcheva@gmail.com', NULL, 1)
INSERT [dbo].[facebook_page] ([id], [municipality_id], [url], [name], [category], [creation_date], [short_name], [has_phone], [has_email], [has_about_page], [defined_location], [website], [milestones_count], [liked_pages], [approved], [contributor_email], [facebook_id], [type]) VALUES (3, 272, N'https://www.facebook.com/profile.php?id=100008136553186', N'Община Априлци', N'Community', NULL, NULL, 0, 0, 0, NULL, NULL, 0, 0, 1, N'evelina.nozhcheva@gmail.com', NULL, 1)
INSERT [dbo].[facebook_page] ([id], [municipality_id], [url], [name], [category], [creation_date], [short_name], [has_phone], [has_email], [has_about_page], [defined_location], [website], [milestones_count], [liked_pages], [approved], [contributor_email], [facebook_id], [type]) VALUES (4, 285, N'https://www.facebook.com/ObshtinaBlagoevgrad', N'Община Благоевград', N'Community organization', CAST(N'2016-05-14' AS Date), N'Obshtinablagoevgrad
', 1, 0, 1, NULL, N'http://blgmun.com', 0, 4, 1, N'evelina.nozhcheva@gmail.com', NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[facebook_page] OFF
/****** Object:  Index [IX_facebook_page]    Script Date: 02-Oct-16 9:13:49 AM ******/
CREATE NONCLUSTERED INDEX [IX_facebook_page] ON [dbo].[facebook_page]
(
	[municipality_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
ALTER TABLE [dbo].[facebook_page] ADD  CONSTRAINT [DF_facebook_page_has_phone]  DEFAULT ((0)) FOR [has_phone]
GO
ALTER TABLE [dbo].[facebook_page] ADD  CONSTRAINT [DF_facebook_page_has_email]  DEFAULT ((0)) FOR [has_email]
GO
ALTER TABLE [dbo].[facebook_page] ADD  CONSTRAINT [DF_facebook_page_has_about_page]  DEFAULT ((0)) FOR [has_about_page]
GO
ALTER TABLE [dbo].[facebook_page] ADD  CONSTRAINT [DF_facebook_page_milestones_count]  DEFAULT ((0)) FOR [milestones_count]
GO
ALTER TABLE [dbo].[facebook_page] ADD  CONSTRAINT [DF_facebook_page_liked_pages]  DEFAULT ((0)) FOR [liked_pages]
GO
ALTER TABLE [dbo].[facebook_page] ADD  CONSTRAINT [DF_facebook_page_approved]  DEFAULT ((0)) FOR [approved]
GO
ALTER TABLE [dbo].[facebook_page]  WITH CHECK ADD  CONSTRAINT [FK_facebook_page_Municipality] FOREIGN KEY([municipality_id])
REFERENCES [dbo].[Municipality] ([id])
GO
ALTER TABLE [dbo].[facebook_page] CHECK CONSTRAINT [FK_facebook_page_Municipality]
GO
