USE [Social_Presence_New]
GO
/****** Object:  Table [dbo].[Municipality]    Script Date: 02-Oct-16 9:13:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Municipality](
	[name] [nvarchar](max) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[country] [nvarchar](max) NOT NULL,
	[population] [int] NULL,
	[state] [nvarchar](max) NOT NULL,
	[website] [nvarchar](max) NULL,
	[approved] [bit] NOT NULL,
	[contributor_email] [nchar](100) NULL,
 CONSTRAINT [PK_Municipality] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET IDENTITY_INSERT [dbo].[Municipality] ON 

INSERT [dbo].[Municipality] ([name], [id], [country], [population], [state], [website], [approved], [contributor_email]) VALUES (N'АВРЕН', 266, N'Bulgaria', 7869, N'ВАРНА', N'http://www.avren.bg/', 1, NULL)
INSERT [dbo].[Municipality] ([name], [id], [country], [population], [state], [website], [approved], [contributor_email]) VALUES (N'АЙТОС', 267, N'Bulgaria', 35653, N'БУРГАС', N'http://www.aitos.org/', 1, NULL)
INSERT [dbo].[Municipality] ([name], [id], [country], [population], [state], [website], [approved], [contributor_email]) VALUES (N'АКСАКОВО', 268, N'Bulgaria', 19768, N'ВАРНА', N'http://www.aksakovo.net/', 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[Municipality] OFF
ALTER TABLE [dbo].[Municipality] ADD  CONSTRAINT [DF_Municipality_approved]  DEFAULT ((0)) FOR [approved]
GO
